html{
  font-family: 'Sen', Verdana, Helvetica, serif;
  text-align: justify;
  text-justify: inter-word;
}
/*Body will have dark background*/
body{
  margin: 5px;
  padding: 0;
  background: #1B1817;
  color: #FFEEE4;
}

img {
  border-radius: 15px;
}


/* style for navigation */
#navigation{
  overflow: hidden;
  background-color: #1B1817;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 90px;

}

#navigation img{
position: absolute;
margin-left: 40px;
}

nav{
  width: 100%;
  overflow:auto;
}
ul{
  padding:0;
  margin: 10px 0 0 200px;
  list-style: none;

}
li {
  float: left;
  font-weight: 400;
  font-size: 1.5em;

}

nav a {
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: Arial;
  color: #FFEEE4;
  text-align: center;
}
nav a:hover {
  background: #fa8687;
  transition: 0.5s;
  text-transform: uppercase;
}

/*end of navigation style*/


/*Start of introduction style */
#introduction{
  font-size: 1.5em;
  float: left;
  margin-top: 100px;
  margin: 40px;
  padding: 50px;
  border: solid 5px;

}

#introduction img{
  width: 40%;
  float: left;
  margin-right: 25px;
  margin-bottom: 20px;
  margin-top: 40px;
}

#introduction span{
  font-weight: 700;
  font-size: 1em;
  color: #f196b9;
}
/* End of introduction style **/



/*Start of styles for artworks*/

#artworks h1{
  text-align: center;
}

#artworks{
  font-size: 1.5em;
  float: left;
  margin-top: 50px;
  margin: 40px;
  padding: 50px;
  border: solid 5px;


}

#artworks img{
  width: 30%;
  padding: 5px;
}

#artworks span{
  font-weight: 700;
  font-size: 1em;
  color: #fa8687;
}

#artworks p{
  margin-left: 150px;
  margin-right: 150px;
}

#artworks a{
      text-decoration: none;
      float: right;
      color: #fa8687;
      font-size: 1em;
}
/* End of artworks styles */



/* Start of cat styles */
#cats{
  font-size: 1.5em;
  float: left;
  margin-top: 50px;
  margin: 40px;
  padding: 50px;
  border: solid 5px;


}

#cats img{
  width: 30%;
}

#cats h1{
  text-align: center;

}


#cats p{
  margin-left: 100px;
  margin-right: 100px;

}

.tigger{
  font-weight: 700;
  font-size: 1em;
  color: orange;
}

.elsa{
  font-weight: 700;
  font-size: 1em;
  color: #fa8687;
}

.kitten{
 text-align: center;
}

/*End of cat styles*/


/* Start of videos styles */
#videos{
  font-size: 1.5em;
  float: left;
  margin-top: 50px;
  margin: 40px;
  padding: 50px;
  border: solid 5px;
}


#videos h1{
  text-align: center;

}

#videos span{
  font-weight: 700;
  font-size: 1em;
  color: #fa8687;
}


#videos p{
  margin-left: 150px;
  margin-right: 150px;

}

#videos figure{
  float: left;
}



/* end styles videos */

#message h3{
  text-align: center;

}
#message{
  margin: 40px;
  padding: 50px;
  float: left;
  font-size: 1.5em;

}

.mom{
  float: right;
}

a{

  text-decoration: none;
  color:#FFEEE4;

}

footer{
  color: #FFEEE4;
  text-align: center;
}
.container{
  width: auto;
}
