html{
  font-family: 'Sen', Verdana, Helvetica, serif;
  text-align: justify;
  text-justify: inter-word;
}
/*Body will have dark background*/
body{
  margin: 5px;
  padding: 0;
  background: #1B1817;
  color: #FFEEE4;
}










a{

  text-decoration: none;
  color:#FFEEE4;

}

footer{
  color: #FFEEE4;
  text-align: center;
}

