@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');


/*--Start style of body--*/
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  color: #343a40;
}
.br {
  display: block;
  margin-bottom: .3em;
}
#wrapper{
  min-height: 100%;
  position: relative;
}

/*--Start style of introduction--*/
.intro{
  text-align:center;
  background-image: linear-gradient(to right, #d16ba5, #c37bbf, #b08bd3, #9a9ae1, #86a8e7);
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
.intro h1{
  font-family: "Yantramanav", sans-serif;
  font-size: 480%;
  font-weight: 700;
  color: white;
  line-height: 70%;
  letter-spacing: .1rem;
  padding-top: 12rem;
}
.intro h2 {
  font-family: "Yantramanav", sans-serif;
  font-size: 275%;
  font-weight: 150;
  color: white;
  -webkit-text-fill-color: white;
  line-height: 70%;
  letter-spacing: .1rem;
}

.introBtn{
  font-family: "Montserrat", sans-serif;
  font-size: 135%;
  font-weight: 400;
  color:white;
  text-transform: uppercase;
  text-decoration: none;
  border: solid white;
  padding: 10px 20px;
  border-radius: 9px;
  transition: all 0.5s;
}

.introBtn:hover{
  color:  #5996e5;
  text-decoration: none;
  border: solid #5996e5 2px;
}


/*--End style of introduction--*/


/*--Start style of navigation--*/
.navbar-brand{
  font-size: 1.2rem;
  padding-top: .1rem;
  font-weight: 400;
  letter-spacing: .15rem;
  text-transform: uppercase;

}

.navbar{
  background-image: linear-gradient(to right, #d16ba5, #c37bbf, #b08bd3, #9a9ae1, #86a8e7);
  width: 100%;
  height: 9%;


}

.nav-link{
  color: white!important;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: .12rem;
  font-size: 1.2rem;
  text-shadow: .05rem .05rem 05.rem rgba(0, 0, 0, .15);
  margin-right: .8rem;
}

.nav-link.active,.nav-link:hover{
  border-bottom: .05rem solid white;
}

#navbar{
  position: fixed;

}

#navbarResponsive{
  text-align: center;

}

.navbar{
  background-image: linear-gradient(to right, #d16ba5, #c37bbf, #b08bd3, #9a9ae1, #86a8e7);

}

/*--End style of navigation--*/

/*--Start style of about me--*/


#about{
  font-family: "Montserrat", sans-serif;
  padding-top: 5rem;
  padding-bottom: 7rem;

}

#about img{
  max-width: 30%;

}
#aboutImage{
  display: grid;
  place-items: center;
  text-align: right;
  padding-top: 3rem;
  padding-bottom: 2rem;

}

#mainInfo{
  text-align: justify;
  place-items: center;
  display: grid;
  border: 1px solid;
  padding-left: 1rem;
  margin-bottom: 0;


}
#info{
  text-align: left;
  letter-spacing: .2rem;
  padding-left: 2rem;
}
#name{
text-align: center;
font-size: larger;
letter-spacing: .3rem;
}


#aboutMe{
  text-align: justify;
  padding-top: 1.5rem;
  font-size: 1.2rem;
}

/*--End style of about me-*/


/*--Start style of projects-*/
#projects{
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 100%;
  }

#biosite, #portfolio, #web-231, #web-330{
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 55%;
}

.biositeBtn{
  font-family: "Montserrat", sans-serif;
  font-size: 120%;
  font-weight: 400;
  color:black;
  text-transform: uppercase;
  text-decoration: none;
  border: solid black;
  padding: 10px 20px;
  border-radius: 9px;
  transition: all 0.5s;
}
.biositeBtn:hover{
  color:  #5996e5;
  text-decoration: none;
  border: solid #5996e5 2px;
}

.carousel .carousel-indicators li {
  background-color: #fff;
  background-color: rgba(70, 70, 70, 0.25);
}
.carousel-control-prev{
  background-color: rgba(70, 70, 70, 0.25);
}
.carousel-control-next{
  background-color: rgba(70, 70, 70, 0.25);
}
.carousel .carousel-indicators .active {
  background-color: #444;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;

}


.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  width: 100%;
  border-left: none;
  height: 50%;
  padding-left: 10rem;
  padding-bottom: 10rem;
  padding-top: 2rem;

}


/*--End style of projects-*/

.footer{
  color:  #1a1817;
  text-align: center;
  place-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 5rem;
  text-align: center;


}
.footer a:visited, a:link, a:hover{
  text-decoration: none;
  color:black;
}
#icons{
  padding-bottom: 2rem;
}
.fa-copyright{
  letter-spacing: .10rem;
}
#div_footer{
  padding-top: 50rem;
}
/*-- Media Queries--*/

@media screen and (max-width: 991px){
  #navbarResponsive{
    background-image: linear-gradient(to right, #d16ba5, #c37bbf, #b08bd3, #9a9ae1, #86a8e7);
  }
  .biositeBtn{
    font-size: 100%;
    padding: 9px 17px;
  }
  #div_footer{
    padding-top: 55rem;
  }

  .tab {
    float: none;

  }
  #biosite, #portfolio, #web-231, #web-330{
    width: 85%;
  }
}
@media screen and (max-width: 900px) {

  .intro{
    padding-bottom: 10rem;
  }
  .intro h1{
    font-size: 330%;


  }
  .intro h2{
    font-size: 150%;

  }
  .introBtn {
    font-size: 110%;
    padding: 9px 17px;
  }

  .biositeBtn{
    font-size: 100%;
    padding: 9px 17px;
  }

   #div_footer{
      padding-top: 55rem;
    }

  #navbarResponsive{
    background-image: linear-gradient(to right, #d16ba5, #c37bbf, #b08bd3, #9a9ae1, #86a8e7);
  }
}

@media screen and (max-width: 768px) {

  .intro{
    padding-bottom: 20rem;
  }
  .intro h1{
    font-size: 200%;
  }
  .intro h2{
    font-size: 140%;
  }
  .introBtn {
    font-size: 110%;
    padding: 7px 15px;
  }
  .biositeBtn{
    font-size: 100%;
    padding: 7px 17px;
  }
  #div_footer{
    padding-top: 55rem;
  }
  #navbarResponsive{
    background-image: linear-gradient(to right, #d16ba5, #c37bbf, #b08bd3, #9a9ae1, #86a8e7);
  }
}



@media screen and (max-width: 480px) {

  .intro{
    padding-bottom: 20%;
  }
  .intro h1{
    font-size: 200%;
  }
  .intro h2{
    font-size: 100%;
  }
  .introBtn {
    font-size: 100%;
    padding: 6px 14px;
  }
  .biositeBtn{
    font-size: 100%;
    padding: 6px 14px;
  }

  #div_footer{
    padding-top: 55rem;
  }

  #navbarResponsive{
    background-image: linear-gradient(to right, #d16ba5, #c37bbf, #b08bd3, #9a9ae1, #86a8e7);
  }
}


   /*--End query of introduction--*/



